{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>Create a new to-do</h1>
    <form method="post" class="narrow-form">
      {% csrf_token %}{{ form.as_p }}
      <button class="create_project">Create</button>
    </form>
  </div>
</main>
{% endblock content %}
