{% extends 'base.html' %} {% load static %} 
{% block content %}
<main>
  <div>
    <h1>Full To-do List</h1>
    {% if todo_list|length == 0 %}
    <p>You have no to-do's</p>
    {% else %}
    <table class="category_table">
      <thead>
        <tr>
          <th></th>
          <th>To-do's</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todo_list %}
        <tr>
          {% if todo.is_completed == True %}
          <td><button class="checked_button">&#10004;</button></td>
          {% else %}
          <td>
            <form method="post" action="{% url 'complete_todo' todo.id %}">
              {% csrf_token %}
              <input type="hidden" name="is_completed" value="True" />
              <button class="task_complete">&#10004;</button>
            </form>
          </td>
          {% endif %}     
          <td><a href="{% url 'todo_detail' todo.id %}">{{ todo.name }}</a></td>
          <td>{{ todo.start_date }}</td>
          <td>{{ todo.due_date }}</td>
          <td class="delete_task">
            <form method="post" action="{% url 'delete_todo' todo.id %}">
            {% csrf_token %}
              <input type="hidden" name="delete_task" value="True" />
              <button class="task_delete">X</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  <div>
    <p>
      <a href="{% url 'create_todo' %}"><button class="task_create">+ TO-DO</button></a>
    </p>
  </div>
</main>
{% endblock content %}