{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do List</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <header>
      <nav>
          {% if user.is_authenticated %}
          <div class="tab">
            <button class="tab1"><a href="{% url 'category_list' %}">CATEGORIES</a>
            </button>
            <button class="tab2"><a href="{% url 'todo_list' %}">TO-DO'S</a>
            </button>
            <button class="tab3"><a href="{% url 'logout' %}">LOGOUT</a>
            </button>
          </div>
          {% else %}
          <div class="tab">
            <button class="tablinks"><a href="{% url 'login' %}">LOGIN</a>
            </button>
            <button class="tablinks"><a href="{% url 'signup' %}">SIGNUP</a>
            </button>
          </div>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    <main></main>
    {% endblock content %}
  </body>
</html>
