{% extends 'base.html' %} {% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post" class="narrow-form">
                {% csrf_token %}{{ form.as_p }}
                <button class="task_create">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
