{% extends 'base.html' %}{% block content %}
<main>
  <div>
    <h1>Create a new category</h1>
    <div class="narrow_form">
      <form method="post" class="narrow-form">
        {% csrf_token %}{{ form.as_p }}
        <button class="create_project">Create</button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}