{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>{{ category.name }}</h1>
    <p> </p>
    {% if category.todos.all|length == 0 %}
    <p>This category has no to-do's</p>
    {% else %}
    <table class="category_table">
      <thead>
        <tr>
          <th></th>
          <th>To-do's</th>
          <th>Start date</th>
          <th>Due date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for todo in category.todos.all %}
        <tr>
          {% if todo.is_completed == True %}
          <td><button class="checked_button">&#10004;</button></td>
          {% else %}
          <td>
            <form method="post" action="{% url 'complete_todo' todo.id %}">
              {% csrf_token %}
              <input type="hidden" name="is_completed" value="True" />
              <button class="task_complete">&#10004;</button>
            </form>
          </td>
          {% endif %}
          </td>
          <td><a href="{% url 'todo_detail' todo.id %}">{{ todo.name }}</a></td>
          <td>{{ todo.start_date }}</td>
          <td>{{ todo.due_date }}</td>
          <td>
            <form method="post" action="{% url 'delete_todo' todo.id %}">
              {% csrf_token %}
              <input type="hidden" name="delete_task" value="True" />
              <button class="task_delete">X</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <div>
      <p>
        <a href="{% url 'create_todo' %}">
        <button class="task_create">+ TO-DO</button></a>
      </p>
  </div>
</main>
{% endblock content %}