{% extends 'base.html' %}{% block content %}
<main>
  <div>
    <h1>Mary's Things To Do</h1>
    {% if category_list|length == 0 %}
    <p>You have no to-do's in this category</p>
        <button class="create_task">
    {% else %}
    <table class="category_table">
      <thead>
        <tr>
          <th>Category</th>
          <th>To-Do Count</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
        <tr>
          <td>
            <a href="{% url 'show_category' category.id %}">{{ category.name }}</a>
          </td>
          <td>{{ category.todos.all | length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <a href="{% url 'create_category' %}">
        <button class="create_project">+ CATEGORY</button></a
      >
    </p>
    {% endif %}
  </div>
</main>
{% endblock content %}