li a:hover{
    text-decoration: underline;
}

li {
    color: white;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

header {
    color: white;

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #AC3B61;
    
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #AC3B61;
}

p {
    text-align: center;
    color: #123C69;
    font-size: 18px;
}

a {
    color: #123C69;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

body,html {height:100%;overflow:hidden;}
body {
    background-image: url(photo.jpeg);
    background-color: rgb(254, 228, 228);
    background-blend-mode: screen;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* ------------------------------------ FORMS ---------------------------------- */

.narrow-form {
    min-width: 400px;
    max-width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    border-radius: 20px;
    margin: auto;
    padding: 1em;
    background-color: #EEE2DC;
    color: #123C69;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.narrow-form p {
    color: #123C69;
}

/* -------------------- TABLES ----------------- */

.todo_table {
    border-collapse: collapse;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #123C69;
    border-image: initial;
    border-color: none;
    border-bottom: gray;
}

.todo_table thead tr{
    background-color: #EDC7B7;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;

}

.category_table {
    max-width: 800px;
    min-width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: #123C69;
    border-image: initial;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 2px 2px #123C69;
}

.category_table thead tr {
    background-color: #EDC7B7;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

tr:nth-child(even) {
    background-color:#EEE2DC;
}

tr:nth-child(odd) {
    background-color: white;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-image: initial;
    padding: 0.5em;
    font-size: 18px
}

th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
}

/* -------------------- BUTTONS ----------------- */

.task_complete {
    background-color: white;
    border: 2px solid black;
    border-radius: 80px;
    color: rgba(255, 255, 255, 0.944);
    padding: 0.16em 0.32em;
    text-transform: uppercase;
    font-weight: bold;
    justify-items: center;
    font-size: 16px;
}
.task_complete:hover {
    background-color: white;
    border-color: #0a4d19cf;
    color: #5d12e0;
}
  
.task_complete:active {
    background-color: rgb(116, 212, 156);
}

.checked_button {
    background-color: rgb(26, 158, 61);
    border: 2px solid black;
    border-radius: 80px;
    color: rgb(255, 254, 254);
    padding: 0.16em 0.32em;
    text-transform: uppercase;
    font-weight: bold;
    justify-items: center;
    font-size: 16px;
}

.task_delete {
    background-color: rgb(213, 113, 113);
    border: 2px solid transparent;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.944);
    padding: 2.5px 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.task_delete:hover {
    background-color: white;
    border-color: rgb(149, 21, 21);
    color: #5d12e0;
}

.task_delete:active {
    background-color:rgb(197, 79, 79);
    color: white;
}

.task_create {
    background-color: #123C69;
    border: 2px solid transparent;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.944);
    padding: .5em 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    justify-items: center;
}

.task_create:hover {
    background-color: #3f70a8;
}

.create_project {
    background-color: #AC3B61;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.944);
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.create_project:hover {
    background-color: #ab5e78;
}

/*  -------------------------- TABS ----------------------- */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #BAB2B5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
